@media (max-width: 520px) {
    .mainflex {
        display: block !important;
    }
    #fotodiv {
        align-items: center !important;
        justify-content: center !important;
        margin-bottom: 2vh;
    }
}


@media (max-width: 768px) {
    .content {
        width: 90% !important;
    }
    .nav {
        display: block !important;
        height: auto !important;
    }
    #navlinks {
        padding-top: 1vh;
        justify-content:left !important;
        padding-bottom: 1vh;
    }
    .navlink {
        width: auto !important;
        margin-left: 0px !important;
        margin-right: 1vh;
    }
    #apptitle {
        padding-top: 1vh;
    }
    #fotodiv {
        margin-right: 0px !important;
    }
}

body {
    margin: 0px;
    color: #00376b;
    background-color: #b1caff;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    font-size: xx-large;
    color: white;
}

.nav {
    display: flex;
    background-color: #628ee0;
    height: auto;
    padding-inline: 5vw;
    padding-block: 0.5vh;
    min-height: 7vh;
}

.flex {
    display: flex;
}

.alc {
    align-items: center;
}

#fotodiv {
    margin-right: 2vh;
}

.jusl {
    justify-content: left;
}

.jusr {
    justify-content: right;
}

.jusc {
    justify-content: center;
}

.max {
    width: 100%;
}

.navlink {
    padding-block: 0.6vh;
    padding-inline: 2vh;
    margin-left: 1vh;
    border: 1px solid white;
    color: white;
    background-color: transparent;
    box-shadow: rgba(40, 76, 155, 0.5) 0px 4px 12px;
    border-radius: 10px;
    font-size: large;
}

.page {
    display: flex;
    justify-content: center;
    padding-block: 7vh;
    height: auto;
}

.content {
    min-width: 40%;
    width: auto;
}

.boxtitle {
    background-color: #628ee0;
    border-radius: 15px 15px 0px 0px;
    border: 1px solid #628ee0;
    border-bottom: none;
    display: flex;
    color: white;
    padding-block: 1vh;
    padding-inline: 2vh;
    font-size: larger;
    transition: 0.4s;
}

.boxcontent {
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid #628ee0;
    border-radius: 0px 0px 15px 15px;
    padding: 1.5vh;
    transition: 0.4s;
}

.minibox {
    padding: 2vh;
    background-color: rgba(255, 255, 255, 0.4);

    border-radius: 8px;
}



.foto {
    border-radius: 100%;
    width: 15vh;
    border: 1px solid #628ee0;
    aspect-ratio: 1;
}

.flexc {
    display: flex;
    flex-direction: column;
}

.mainflex {
    display: flex;
}

.tc {
    text-align: center;
}

.info {

    border-radius: 10px;
    padding: 1vh;
    font-size: medium;
    color:white;
    box-sizing: border-box;
    border: 1px solid #00b3ff;
    color:#006692;
    background-color: #d0e4fc;
    transition: 0.3s;
}


.mt08 {
    margin-top: 0.8vh;
}


.navlink:hover  {
    background-color: #ffffff;
    color: #2f78ff;
    transition: 0.3s;
    cursor: pointer;

}

.navlink:hover i {
    color: #2f78ff;
    transition: 0.3s;
}

.info i {
    color: transparent;
}

.box:hover .boxtitle {
    background-color: #913091;
    color:#e8d4fc;
    transition: 0.4s;
    border: 1px solid #913091;
    border-bottom: 0px;
}

.box:hover .boxcontent {
    background-color: #e8d4fc;
    color:#e8d4fc;
    transition: 0.4s;
    border: 1px solid #913091;
}

.box:hover .foto {
    border: 1px solid #913091;

}

.box:hover .info {
    color: #cf52cf;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(233, 106, 233, 0.5);

}

.info:hover {
    border: 1px solid #e96ae9 !important;
    background-color: hsl(288, 100%, 93%) !important;
    transition: 0.3s;
}

.info:hover i {
    color: rgba(255, 0, 98, 0.7);
}